*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 500px;
    background: #ff5c29;
    margin: 50px auto;
    /* Propiedades de Flexbox */
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* Para que se acomoden las objetos y se respete el ancho */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.hijo{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}